{% extends 'blog/blg_base.html' %}
{% block title %} Blog Home {% endblock %}
{% block content %}
{% load static %}

<div class="s-content">
  <div class="masonry-wrap">
    <div class="masonry">
      <div class="grid-sizer"></div>

    <article class="masonry__brick entry format-quote animate-this">

        <div class="entry__thumb">
            <blockquote>
                <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>

                <cite>Dieter Rams</cite>
            </blockquote>
        </div>

    </article> <!-- end article -->

    {% for post in posts %}

    <article class="masonry__brick entry format-standard animate-this">

      <div class="entry__thumb">
          <a href="{% url 'blg_detail' post.pk %}" class="entry__thumb-link">
              <img src="{{ post.header_image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;">
              <!-- <img src="{% static 'images/thumbs/masonry/woodcraft-600.jpg' %}"
                      srcset="{% static 'images/thumbs/masonry/woodcraft-600.jpg' %} 1x, {% static 'images/thumbs/masonry/woodcraft-1200.jpg' %} 2x" alt=""> -->
          </a>
      </div>

      <div class="entry__text">
          <div class="entry__header">

              <h2 class="entry__title"><a href="{% url 'blg_detail' post.pk %}">{{ post.title }}</a></h2>
              <div class="entry__meta">
                  <span class="entry__meta-cat">
                      <a href="{% url 'blg_category' post.category %}">{{ post.category }}</a>
                  </span>
                  <span class="entry__meta-date">
                      <p> Posted on: {{ post.post_date }}</p>
                  </span>
              </div>

          </div>
          <div class="entry__excerpt">
              <p>
              {{ post.snippet }}...
              </p>
          </div>
      </div>

    </article>
    {% endfor %} <!-- end post list -->

      <!-- <ul>
      {% for post in object_list %}
          <li>{{ post.title }} - {{ post.author }}<br/>
          {{ post.snippet }}

          </li>
      {% endfor %}
      </ul> -->
    </div> <!-- end masonry -->
  </div> <!-- end masonry-wrap -->

     <div class="row">
         <div class="column large-full">
             <nav class="pgn">
               {% if is_paginated %}
                 <ul>
                    {% if page_obj.has_previous %}
                          <li><a class="pgn__prev" href=""?page={{ page_obj.previous_page_number }}"">Prev</a></li>
                    {% else %}
                          <li><span class="pgn__num">no previous</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                          <li><a class="pgn__num current" href="#0">{{ i }}</a></li>
                      {% else %}
                          <li><a class="pgn__num" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {%endfor %}
                    {% if page_obj.has_next %}
                          <li><a class="pgn__next" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                 </ul>
                {% endif %}
             </nav>
         </div>
     </div>
</div> <!-- end s-content -->

{% endblock %}
